<form action="" class="big-filter box-shadow__bottom hide">
    <div class="row">
        <div class="col-md-6  col-sm-6 col-xs-12">
            <span>Цена (в рублях):</span>

            <div class="ioSlider">
                <input type="text" class="range_121" name="range_121" value=""/>

                <div class="input-box">
                    <ul class="input-list input-list__elements-2">
                        <li>
                            <span>От</span>
                            <label>
                                <input id="range_121-to" class="range_121-to" type="number" value=""
                                       placeholder="0" required="">
                            </label>
                        </li>
                        <li>
                            <span>До</span>
                            <label>
                                <input id="range_121-from" class="range_121-from" type="number" value=""
                                       placeholder="100 000 000" required="">
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
            <span class="square">Площадь (в м&sup2):</span>

            <div class="ioSlider">
                <input type="text" class="range_122" name="range_122" value=""/>

                <div class="input-box">
                    <ul class="input-list input-list__elements-2">
                        <li>
                            <span>От</span>
                            <label>
                                <input id="range_122-to" class="range_122-to" type="number" value=""
                                       placeholder="50" required="">
                            </label>
                        </li>
                        <li>
                            <span>До</span>
                            <label>
                                <input id="range_122-from" class="range_122-from" type="number" value=""
                                       placeholder="100 000" required="">
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row well2">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="input-box">
                <span>Материал</span>
                <label>
                    <select name="select_style" class="select_style ">
                        <option value="type-1">Материал 100</option>
                        <option value="type-2">Материал 200</option>
                        <option value="type-3">Материал 300</option>
                        <option value="type-4">Материал 400</option>
                        <option value="type-5">Материал 500</option>
                        <option value="type-6">Материал 600</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="input-box">
                <span>&nbsp</span>
                <label>
                    <select name="select_style" class="select_style ">
                        <option value="type-1">Материал 100</option>
                        <option value="type-2">Материал 200</option>
                        <option value="type-3">Материал 300</option>
                        <option value="type-4">Материал 400</option>
                        <option value="type-5">Материал 500</option>
                        <option value="type-6">Материал 600</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
            <div class="filter-wrap__left">
                <span>Этажность:</span>

                <div id="rooms-count" class="choice-element">
                    <span class="circle">1</span>
                    <span class="circle">2</span>
                    <span class="circle">3</span>
                    <span class="circle">4+</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row well2">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="flex-container">
                <li class="flex-item">
                    <div class="checkbox-group">
                        <input type="checkbox" id="checkbox1" name="type">
                        <label for="checkbox1">Гараж</label>
                    </div>
                </li>
                <li class="flex-item">
                    <div class="checkbox-group">
                        <input type="checkbox" id="checkbox2" name="type">
                        <label for="checkbox2">Бассейн</label>
                    </div>
                </li>
                <li class="flex-item">
                    <div class="checkbox-group">
                        <input type="checkbox" id="checkbox3" name="type">
                        <label for="checkbox3">Мансарда</label>
                    </div>
                </li>
                <li class="flex-item">
                    <div class="checkbox-group">
                        <input type="checkbox" id="checkbox4" name="type">
                        <label for="checkbox4">Веранда</label>
                    </div>
                </li>
                <li class="flex-item">
                    <div class="checkbox-group">
                        <input type="checkbox" id="checkbox5" name="type">
                        <label for="checkbox5">Цоколь</label>
                    </div>
                </li>
                <li class="flex-item">
                    <div class="checkbox-group">
                        <input type="checkbox" id="checkbox6" name="type">
                        <label for="checkbox6">Подвал</label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
            <span class="count-rooms">Количество комнат:</span>

            <div class="ioSlider">
                <input type="text" class="range_123" name="range_123" value=""/>

                <div class="input-box">
                    <ul class="input-list input-list__elements-2">
                        <li>
                            <span>От</span>
                            <label>
                                <input id="range_123-to" class="range_123-to" type="number" value=""
                                       placeholder="1" required="">
                            </label>
                        </li>
                        <li>
                            <span>До</span>
                            <label>
                                <input id="range_123-from" class="range_123-from" type="number" value=""
                                       placeholder="10+" required="">
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row well2">
        <div class="col-md-2 col-md-offset-7">
            <a class="on-small-filter">Простой фильтр</a>
        </div>
        <div class="col-md-3 clean">
            <batton type="submit" class="btn1 btn-style1 btn-effect1 offs2">Показать проекты</batton>
        </div>
    </div>
</form>