<div class="coment box-shadow__bottom">
    <!--=== Дата публикации ===-->
    <p class="date-publist">
        <time datetime="2016-12-31">30 сентября 2015</time>
    </p>
    <!--=== Автор отзыва ===-->
    <a href="" class="autor-coment">Константин Константинопольский</a>

    <p class="text-coment">
        Я думал, намного лучше будет… Намного лучше будет это все. И очень плохая музыка, просто
        очень плохая музыка! Я думал, намного лучше это все будет. Сколько раз сюда ходил — было
        намного лучше, но на этот раз как-то не удалось. Во-первых, народу мало, музыка — не очень
    </p>
    <!--=== Футер блока отзыва ===-->


    <div class="coment-footer">
        <p class="coment-question">Полезный отзыв?</p>
        <ul class="coment-question-variant inline-list">
            <li><a href="" class="true">Да</a> (35)</li>
            <li><a href="" class="no">Нет</a> (35)</li>
        </ul>
    </div>
</div>