<!--<li class="customScroll__list-li">-->
    <form action="customScroll-cnt" class="customScroll-cnt box-shadow__bottom">
        <div class="customScroll__cnt-head">
            <img src="images/item-1.jpg" class="mCS_img_loaded">
        </div>
        <div class="customScroll-cnt-main">
            <a href="">Проект современного коттеджа с мансардой и гаражом V654</a>

            <ul class="item-list offs2">
                <li>
                    <div class="lr-cnt">
                        <span class="lr-cnt__left">Общая площадь:</span>
                        <span class="lr-cnt__right">137,1 м&sup2</span>
                        <span class="lr-cnt__doted">&nbsp;</span>
                    </div>
                </li>
                <li>
                    <div class="lr-cnt">
                        <span class="lr-cnt__left">Жилая площадь:</span>
                        <span class="lr-cnt__right">96,5 м&sup2</span>
                        <span class="lr-cnt__doted">&nbsp;</span>
                    </div>
                </li>
                <li>
                    <div class="lr-cnt">
                        <span class="lr-cnt__left">Материал:</span>
                        <span class="lr-cnt__right">Газобетон</span>
                        <span class="lr-cnt__doted">&nbsp;</span>
                    </div>
                </li>
            </ul>

            <batton type="submit" class="btn1 btn-style1 btn-effect1 offs2">Заказать проект</batton>
        </div>
    </form>
<!--</li>-->