<div class="box box-shadow__bottom elem-tile">
    <div class="box__asside">
        <a href="news.html" class="img-wrap">
            <img src="images/article-1.jpg" alt=""/>
        </a>
    </div>
    <div class="box__cnt">
        <div class="box__cnt-head">
            <time pubdate datetime="<01.01.2016>">30 сентября 2016</time>
        </div>

        <div class="box__cnt-main">
            <a href="news.html">Выбор бригады строителей</a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam
                assumenda, consequatur corporis facilis impedit ipsum itaque magni mollitia
                nulla odio officiis praesentium quos ratione tenetur, unde veritatis vitae
                voluptatum.
            </p>
        </div>

        <div class="box__cnt-footer">
            <ul class="inline-list list1">
                <li>
                    <span class="eye">9999</span>
                </li>
                <li>
                    <span class="comment">9999</span>
                </li>
            </ul>
            <ul class="inline-list list2">
                <li>
                    <span class="like">9999</span>
                </li>
                <li>
                    <span class="unlike">9999</span>
                </li>
            </ul>
        </div>
    </div>
</div>