<div class="box-shadow__bottom elem-reviews">
    <div class="elem-reviews__head">
        <a href="">Проект современного коттеджа с мансардой</a>
        <time pubdate datetime="<01.01.2016>">30 сентября 2016</time>
    </div>
    <div class="elem-reviews__main">
        <div class="autor">от <a href="">Константина Константинопольского</a></div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem fuga impedit
            officiis reiciendis sed temporibus! Accusantium animi, blanditiis consequatur
            delectus dolorum et ex ipsam, labore minima officia quaerat, quibusdam sapiente?
        </p>
    </div>
    <div class="elem-reviews__footer">
        <a href="">Читать отзыв полностью</a>
    </div>
</div>