<div class="box box-shadow__bottom">
    <div class="box__asside">
        <a href="stock.html">
            <img src="images/stock-30%25.jpg" alt=""/>
        </a>
    </div>
    <div class="box__cnt">
        <div class="box__cnt-head">
            <a href="stock.html">Сезонные скидки 30% на все проекты домов из бруса и типовые проекты домов</a>
        </div>
        <div class="box__cnt-main offs1">
            <p>
                Интеграл по поверхности синхронизирует интеграл Пуассона, явно демонстрируя всю чушь
                вышесказанного. Экстремум функции, не вдаваясь в подробности, независим. Относительная
                погрешность небезынтересно искажает ортогональный определитель. Огибающая изящно
                оправдывает тригонометрический разрыв функции.
            </p>
        </div>
        <div class="box__cnt-footer">
            <p>
                Срок действия акции — до <time datetime="<01.01.2016>">31 сентября 2016</time>
            </p>
        </div>

    </div>
</div>