<form action="" class="small-filter show">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-box">
                        <span>Площадь</span>
                        <label>
                            <select name="select_style" class="select_style ">
                                <option value="type-1">100 м&sup2</option>
                                <option value="type-2">200 м&sup2</option>
                                <option value="type-3">300 м&sup2</option>
                                <option value="type-4">400 м&sup2</option>
                                <option value="type-5">500 м&sup2</option>
                                <option value="type-6">600 м&sup2</option>
                                <option value="type-7">700 м&sup2</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-box">
                        <span>Материал</span>
                        <label>
                            <select name="select_style " class="select_style ">
                                <option value="type-1">Кирпич</option>
                                <option value="type-2">Камень</option>
                                <option value="type-3">Железобетонн</option>
                                <option value="type-4">Пеноблок</option>
                                <option value="type-5">Брус</option>
                                <option value="type-6">Доска</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-box">
                        <span>Этажность</span>
                        <label>
                            <select name="select_style" class="select_style ">
                                <option value="type-1">1</option>
                                <option value="type-2">2</option>
                                <option value="type-3">3</option>
                                <option value="type-4">4+</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-box">
                        <span>Цена</span>
                        <label>
                            <select name="select_style" class="select_style ">
                                <option value="type-1">110000</option>
                                <option value="type-2">210000</option>
                                <option value="type-3">310000</option>
                                <option value="type-4">410000</option>
                                <option value="type-5">510000</option>
                                <option value="type-6">610000</option>
                                <option value="type-7">710000</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <a class="on-big-filter">Расширенный фильтр</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 clean">
                    <batton type="submit" class="btn1 btn-style1 btn-effect1 offs2">Показать проекты</batton>
                </div>
            </div>
        </div>
    </div>
</form>